.header {

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__top {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @include md {
      margin-top: 144px;
      margin-bottom: 80px;
      justify-content: center;
      align-items: center;
    }

    @include lg {
      margin-top: 0;
    }
  }
}

.title-1 {
  display: flex;
  color: #1c1a26;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  margin-top: 32px;

  @include md {
    margin-top: 80px;
    max-width: 280px;
    text-align: left;
  }

  @include lg {
    margin-top: 135px;
    text-align: left;
    max-width: 260px;
  }

  @include xl {
    margin-top: 144px;
    max-width: 280px;
  }
}


.header__title {
  display: flex;
  position: relative;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 85%;
  letter-spacing: -5%;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  color: #f9512e;
  width: 100%;
  margin-top: 32px;
  z-index: 2;

  @include md {
    font-size: 80px;
  }

  @include lg {
    font-size: 136px;
    white-space: nowrap;
  }

  @include xl {
    font-size: 144px;
  }
}

.header-image {
  display: flex;
  justify-content: center;
  align-items: center;


  &__cookie {
    display: block;
    max-width: 288px;

    @include md {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      max-width: 326px;
    }

    @include lg {
      max-width: 100%;
      height: 546px;
    }

    @include xl {
      height: 586px;
    }
  }
}

.header__botom {
  display: flex;
  justify-content: center;
  align-items: center;

  @include lg {
    justify-content: start;
  }
}

.header__button {
  display: flex;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 40px;
  width: 100%;
  max-width: 288px;
  height: 56px;
  border: 2px #f9512e solid;
  border-radius: 32px;
  background-color: #ffeefc;
  color: #f9512e;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 2%;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  gap: 4px;

  &-cookie {
    width: 20px;
    height: 20px;
  }

  &:hover {
    background-color: #F9512E;
    color: #fff;

    .header__button-cookie {
      filter: brightness(0) invert(1);
    }
  }

  &:active {
    background-color: #B2341A;
    color: #fff;
    border-color: #B2341A;

    .header__button-cookie {
      filter: brightness(0) invert(1);
    }
  }

  @include md {
    height: 56px;
    width: 100%;
    max-width: 326px;
    margin-top: 80px;
    margin-bottom: 228px;
  }

  @include lg {
    height: 56px;
    max-width: 260px;
    margin-top: 64px;
  }

  @include xl {
    max-width: 280px;
  }
}
