.nav__list {
  margin: 0;
  padding: 0;

  @include lg {
    display: flex;
    align-items: center;
  justify-content: center;
  text-align: center;
  }
}

.nav__lg {
  opacity: 0;
  display: none;
  margin-bottom: 28px;
  margin-top: 28px;

  @include lg {
    opacity: 1;
    display: block;
  }
}

.nav__item {
  list-style: none;
  margin-bottom: 24px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  @include lg {
    display: inline-block;
    margin-left: 64px;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
  }
}

.nav__link {
  text-decoration: none;
  color: #1c1a26;

  &-orange {
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    color: #f9512e;
    line-height: 100%;
    letter-spacing: 2%;
    margin-top: 8px;
  }
}

.nav-icon-container {
  display: inline-flex;
  gap: 4px;
  align-items: center;
}
