@import 'utils';
@import 'fonts';
@import 'typography';
@import '/src/styles/blocks/header';
@import '/src/styles/blocks/what-we-bake';
@import '/src/styles/blocks/about-us';
@import '/src/styles/blocks/contact-us';
@import '/src/styles/blocks/blog';
@import '/src/styles/blocks/menu';
@import '/src/styles/blocks/icon';
@import '/src/styles/blocks/nav';
@import '/src/styles/blocks/top-bar';

:root {
  --rows: 2;
  --footer-x-gap: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $c-gray;
  scroll-behavior: smooth;
  background-color: #ffeefc;
}

body:has(.menu:target) {
  overflow: hidden;
}
